<div class="wrapper">
  <div class="candles">
    <div class="light__wave"></div>
    <div class="candle1">
      <div class="candle1__body">
        <div class="candle1__eyes">
          <span class="candle1__eyes-one"></span>
          <span class="candle1__eyes-two"></span>
        </div>
        <div class="candle1__mouth"></div>
      </div>
      <div class="candle1__stick"></div>
    </div>
    
    <div class="candle2">
      <div class="candle2__body">
        <div class="candle2__eyes">
          <div class="candle2__eyes-one"></div>
          <div class="candle2__eyes-two"></div>
        </div>
      </div>
      <div class="candle2__stick"></div>
    </div>
    <div class="candle2__fire"></div>
    <div class="sparkles-one"></div>
    <div class="sparkles-two"></div>
    <div class="candle__smoke-one">

    </div>
    <div class="candle__smoke-two">

    </div>
    
  </div>
  <div class="floor">
  </div>

</div>

<main class="form-signin">
    
  <h1 class="h3">Autenticação</h1>

  <div class="form-floating">
    <input [(ngModel)]="userName" type="email" name="userName" class="form-control" id="userName" placeholder="name@example.com" required>
    <label for="floatingInput">Usuário</label>
  </div>
  <div class="form-floating">
    <input [(ngModel)]="password" type="password" name="password" class="form-control" id="password" placeholder="Password" required>
    <label for="floatingPassword">Senha</label>
  </div>

  <button (click)="generateToken()" class="w-100 btn btn-lg" type="submit">Gerar Token</button>
 
</main>

<div>
  <div>
    <h1 style="margin: 10px;transform: rotate(-1.5deg);">Categorias</h1>

	<ol style="margin: 10px;transform: rotate(-2deg);">
		<li *ngFor="let category of categories">
			<span>{{category.name}}</span>
			<span><strong>ID</strong> {{category.id}}</span>
    </li>
	</ol>
  </div>

  <br>
  <br>

  <div style="position:absolute;bottom:10px;">
    <h1 style="margin: 10px;transform: rotate(1.5deg);">Produtos</h1>
	
    <ol reversed start="10" style="margin: 10px;transform: rotate(2deg);">
      <li *ngFor="let product of products">
        <span>{{product.name}}</span>
        <span><strong>Estoque</strong> {{product.stock}}</span>
        <span><strong>Preço</strong> {{product.price|currency}}</span>
      </li>
    </ol>
  </div>
  
</div>